.BookViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.MiddleOfBookView {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    margin-bottom: 20vh;
}

.imgborder {
    width: 300px;
    height: 350px;
    border: 1px solid #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bkimg {
    width: 250px;
    height: 275px;
    /* border: 2px solid green; */
}

.bkimg img {
    width: 100%;
    height: 100%;
}

.ImageCoumn {
    display: flex;
    flex-direction: column;
}

.CartWishlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 300px;
    height: 38px;
    justify-content: space-between;
    margin-top: 20px;
}

.Addtobag {
    height: 38px;
    width: 145px;
    background: #A03037 0% 0% no-repeat padding-box;
    border: none;
    color: #FFFFFF;
    border-radius: 2px;
    opacity: 1;
}

.wishlist {
    height: 38px;
    width: 145px;
    background-color: #333333;
    border: none;
    color: #FFFFFF;
    border-radius: 2px;
}

.addtobag {
    height: 38px;
    width: 145px;
    background-color: #A03037;
    border: none;
    color: #FFFFFF;
    border-radius: 2px;
    /* opacity: 1; */
}

.bkname {
    margin-left: 40px;
    width: 650px;
    /* border: 2px solid green; */
}

.bknme {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
}

.athrname {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}

.rtng {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0px;
    padding: 5px;
}

.prcediv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0px;
}

.rtngbtn {
    font: normal normal bold 10px/13px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 40px;
    height: 20px;
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
    border: none;
    outline: none;
    margin-right: 0.6rem;
}

.qnty {
    margin-left: 0px;
    margin-top: 3px;
    width: 48px;
    height: 13px;
    font: normal normal normal 14px/18px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;

}

.prce {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3px;

}

.dscntprce {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 36px;
    height: 13px;
    margin-left: 15px;
    text-decoration: line-through;
    font: normal normal normal 14px/18px Roboto;
    color: #878787;
    opacity: 1;
    margin: 0.6rem;
}

hr {
    width: 650px;
}

.bookdetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font: normal normal normal 18px/18px Roboto;
    color: #878787;
    margin-bottom: 0px;
    opacity: 1;
}

.para {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 140px;
    margin-top: 0px;
    font: normal normal normal 14px/18px Roboto;
    color: #707070;
    text-align: justify;
    margin: 1rem;
}

.customerfeedback {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 160px;
    height: 24px;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
}

.overallrating {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 25%;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px;
}

.overallratingpara {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70px;
    height: 8px;
    margin-left: 17px;
    margin-bottom: 0px;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
}

.star {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 17px;
    margin-top: 10px;
}

.reviewinput {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 527px;
    height: 63px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    margin-left: 17px;
    border: none;
    outline: none;
}

.submits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 35px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 450px;
    border: none;
    align-items: center;
    color: #FFFFFF;
}