.AddressDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid #DCDCDC;
    width: 60vw;
    height: 70vh;
    margin-top: 2rem;
    margin-left: 10rem;
}

.details {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
    width: 75%;
    height: 95%;
}

.custdetails {
    /* border: 1px solid black; */
    height: 15%;
    color: #333232;
    font: normal normal bold larger/30px Roboto;
    height: 15%;
    display: flex;
    align-items: center;
}

.fullname {
    /* border: 1px solid black; */
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 95%;
}

.fname {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 48%;
    height: 10%;
}

.name {
    /* border: 1px solid black; */
    height: 20%;
    font: normal normal normal 12px/12px Roboto;
}

.nameinput {
    border: 1px solid black;
    height: 60%;
    width: 97%;
    margin-top: 1%;
    border-radius: 5px;
}

.address {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 15%;
    width: 94%;
    margin-left: 1%;
}

.addresslable {
    height: 20%;
    font: normal normal normal 12px/12px Roboto;
}

.addresstext {
    border: 1px solid black;
    height: 60%;
    width: 97%;
    margin-top: .5%;
    border-radius: 5px;
}

.continue {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
    height: 95%;
}

.continue button {
    background-color: #4266B2;
    border: none;
    border-radius: 5px;
    color: white;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 5%; */
    margin-left: 10%;
    width: 80%;
    cursor: pointer;
}

.type {
    /* border: 1px solid black; */
    width: 5%;
    font: normal normal normal medium/16px Roboto;
    color: #0A0102;
    margin-top: 3px;
    margin-left: 1%;
}

.radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2%;
    margin-left: 1%;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 40%;
}

.orther {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 40%;
}

.ordersummary{
    margin-left: 10rem;
    margin-top: 1rem;
}